article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Table of contents 
 - Wrapper 
    - Main fonts 
    - Index
        - Header & Navigation 
        - Main section: 
            - Popular recipes 
            - Food options 
            - Our restaurants 
            - Image grid 
            - Hungry clients
        - Footer

    - Blog 
        - Header & Navigation 
        - Article 
        - Tags and social icons
        - Author bio
        - Related posts
        - Comments
        - Form
        - Footer

    - Contact form 
        - Header & Navigation
        - Contact form 
        - Contact details
        - Footer */

/* --- WRAPPER FOR ALL PAGES --- */

.wrapper {
     max-width: 1500px;
     margin: 0 auto;
}

/* ---FONTS--- */

html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        line-height: 24px;    }

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: rgb(51, 51, 51);
    text-transform: uppercase;

}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
}

h5 {
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
}

h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: rgb(51, 51, 51);
}

p {
    font-family: Lora;
    color: rgb(102, 102, 102);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 24px;
}

b {
    font-family: Raleway;
    color: rgb(51, 51, 51);
    font-size: 1.4rem;
    font-weight: 700;
    font-weight: bold;
    line-height: 26px;
}

a {
    font-family: Lora;
    color: rgb(102, 102, 102);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
}

/* --- HEADER--- */

header h1 {
    float: left;
    text-align: left;
    text-transform: uppercase;
    margin-left: 10px;
}

.mainHeader {
    height: 100vh;
    background-image: url(../assets/home-1.jpeg);
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    padding: 1px;
}

/* --- NAVIGATION --- */

.navigation {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

nav li {
    float: left;
}

li {
    list-style: none;
}

nav a {
    font-family: 'Raleway', sans-serif;
    color :rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 12px;
    font-size: 16.67px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    color:rgb(100, 166, 4);
    transition: all .3s; 
}

.shop {
    position: relative;
    display: inline;
}

.shop i::after {
    content: "2";
    border-radius: 50%;
    width: 7px;
    line-height: 7px;
    padding: 5px;
    background: rgb(100, 166, 4);
    color: rgb(255,255,255);
    text-align: center;
    font-family: Lora;
    font-size: 12px;
    position: absolute;
    display: block;
    bottom: -8px;
    left: 10px;
}

/* ---POPULAR RECIPES SECTION--- */

.popularRecipesContent h2 {
    text-align: center;
}

.popularRecipesContent, .foodOptionsContent  {
    width: 50%;
    float: left;
}

.popularRecipes img, .foodOptions img {
    width: 50%;
    float: left;
}

.popularRecipesContent {
    padding: 70px 50px;
    text-align: center;
}

/* --- BORDER ALSO USED IN OUR RESTAURANTS AND HUNGRY CLIENTS SECTION --- */

.border {
    border-bottom: 4px solid rgb(100, 166, 4);
    width: 70px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.popularRecipes button h3 {
    color: rgb(255,255,255);
}

.popularRecipes button {
    background-color:  #64a604;
    width: 200px;
    border: none;
}

.popularRecipes button:hover {
    background-color: rgba(100, 166, 4, 0.8);
    transition: all .3s; 
}

/* --- FOOD OPTIONS SECTION --- */

.food {
    position: relative;
    width: 47%;
    float: left;
}

.foodContent {
    padding: 15px;
    max-height: 150px;
}

.foodContent p {
    margin-top: -20px;
}

.food h3 {
    line-height: 36px;
    text-align: left;
}

.food p {
    color: rgb(153, 153, 153);
    text-align: left;
    clear: both;
}

.foodOptionsContent li::before {
    font-family: 'Font Awesome\ 5 Free';
    color: rgb(102, 102, 102);
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    left: -10px;
    top: 40px;
}

.foodOptionsContent li:nth-child(1)::before {
    content: "\f094";
}

.foodOptionsContent li:nth-child(2)::before {
    content: "\f2e7";
}

.foodOptionsContent li:nth-child(3)::before {
    content: "\f0f4";
}

.foodOptionsContent li:nth-child(4)::before {
    content: "\f000";
}

.foodOptionsContent li:nth-child(5)::before {
    content: "\f06c";
}

.foodOptionsContent li:nth-child(6)::before {
    content: "\f2e5";
}

/* --- OUT RESTAURANTS SECTION -- */

.ourRestaurants {
    margin: 0 auto;
    padding: 50px;
    width: 100%;
    position: relative;
}

.ourRestaurantsContent h2 {
    text-align: center;
}

.ourRestaurantsContent p {
    color: rgb(153, 153, 153);
    text-align: center;
}

.restaurantImage {
    margin: 0 auto;
    margin-top: 50px;
    width: 27.3%;
    display: block;
}

.circleText { 
    width: 10%;
    position: absolute;
    top: 8%;
    left: 57%;
}

.ourRestaurantsContent {
    margin: 0 auto;
    margin-top: 20px;
    width: 40.5%;
}

.ourRestaurantsContent .border {
    margin-bottom: 20px;
}

/* --- IMAGES 6x2 GRID --- */

.imageGrid img {
    width: 33%;
    float: left;
}

/* --- HUNGRY CLIENTS SECTION --- */

.hungryClients {
    background-color: rgb(221, 237, 154);
    margin: 0 auto;
    clear: both;
}

.hungryClients h2 { 
    text-align: center;
}

.hungryClients p {
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: center;
}

.hungryClientsContent {
    margin: 0 auto;
    padding: 50px 0;
    width: 50%;
}

.hungryClientsParagraph {
    position: relative;
}

.hungryClientsParagraph::before {
    content: "\f10d";
	font-size: 35px;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    color: rgba(255,255,255, 0.5);
    position: absolute;
	top: -25px;
    left: -60px;
}

.hungryClientsParagraph::after {
    content: "\f10e";
    font-family: 'Font Awesome\ 5 Free';
    font-size: 35px;
    font-weight: 900;
    line-height: 35.707px;
    color: rgba(255,255,255, 0.5);
    position: absolute;
	bottom: 5px;
    right: -60px;
}

.hungryClientsButtons {
    display: block;
    text-align: center;
}

.hungryClientsButtons i {
    font-family: 'Font Awesome\ 5 Free';
    font-size: 35px;
    font-weight: 900;
    line-height: 35.707px;
    color: rgba(255,255,255);
    border: none;
    background-color: rgb(221, 237, 154);
    padding: 10px 10px 0px 10px;
}

.hungryClientsButtons i:hover {
    color: rgba(255,255,255, 0.6);
    transition: all .3s; 
}

/* --- BLOG SECTION --- */

.blogHeader {
    height: 90vh;
    background-image: url(../assets/blog-1.jpeg);
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    position: relative;
    margin: 0 auto;
}

.blogContainer {
    margin: 0 auto;
    width: 60%;
    max-width: 650px;
}

/* --- ARTICLE SECTION --- */

.article {
    text-align: left;
    margin-top: 100px;
}

.headByline h2 {
    margin-top: -20px;
    text-align: left;
}

.headByline h6 {
    margin-top: -20px;
    text-align: left;
}

.article p {
    text-align: left;
}

/* --- TAGS AND SOCIAL ICONS --- */

.blogtagsSocial a {
    color: rgb(153, 153, 153);
    text-align: left;
    text-decoration: none;
}

.blogtagsSocial b {
    text-align: left;
    text-transform: uppercase;
}

.blogtagsSocial i {
    padding: 10px;
}

.blogtagsSocial a:hover, .blogtagsSocial i:hover {
    color: rgba(153, 153, 153, 0.4);
    transition: all .3s; 
}

.blogBorder {
    border: 1px solid rgba(153, 153, 153, 0.4);
    width: 100%;
    margin: 35px 0px;
}

/* --- AUTHOR BIO --- */

.authorInfo h3 {
    text-align: left;
    margin-top: 10px;
}

.authorInfo p {
    color: rgb(102, 102, 102);
    text-align: left;
}

.authorImage {
    float: left;
}

.authorImage img {
    margin-right: 15px;
}

.authorInfo {
    width: 71%;
    padding: 20px;
    max-height: 219px;
    background-color: rgb(246, 246, 246);
    float: left;
}

/* --- RELATED POSTS --- */

.relatedPosts {
    width: 100%;
}

.relatedPosts ul {
    padding-left: 0px;
}

.relatedPosts h3 {
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
}

.post h4 {
    text-align: left;
}

.post h4:hover {
    text-decoration: underline;
    transition: all .3s; 
}

.post h6 {
    color: rgb(153, 153, 153);
    font-size: 9.5px;
    text-align: left;
    margin-top: -20px;
}

.post img {
    width: 100%;
}

.relatedPosts {
    width: 100%;
}

.post {
    width: 32%;
    float: left;
    margin: 0px 8px;
    margin-left: 0px;
}

.post a {
     text-decoration: none;
}

/* --- COMMENT SECTION ---  */

.comments {
    clear: both;
}

.comments ul {
    padding-left: 0;
}

.eachComment h4 {
    text-align: left;
    text-transform: none;
}

.eachComment h4 {
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
}

.eachComment h6 {
    font-size: 1.1rem;
    text-align: left;
    margin-top: -10px;
}

.eachComment p {
    color: rgb(51, 51, 51);
    text-align: left;
    margin-top: -15px;
}

.eachComment b {
    font-weight: bold;
    font-size: 1.5rem;
}

.commentPicture {
    float: left;
}

.commentInfo {
    float: left;
    width: 85%;
    background-color: rgb(239, 239, 239);
    padding: 0px 10px 0px 20px;
    margin-bottom: 5px;
    margin-left: 15px;
    position: relative;
}

.commentInfo i {
    position: relative;
    color: rgb(239, 239, 239);
    font-size: 20px;
    top: 5px;
    left: -26px;
    padding-left: 0px;
}

/* ---COMMENT FORM --- */

.commentForm h3 {
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
}

.commentForm p {
    color: rgb(153, 153, 153);
    font-style: italic;
    text-align: left;
}

.nameInput, .emailInput, .siteInput, .commentInput {
    font-family: Lora;
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.nameInput, .emailInput {
    margin-right: 17px;
}

.nameInput, .emailInput, .siteInput {
    width: 31%;
    padding: 5px 15px;
    border: 1px solid  rgba(204, 204, 204, 50);
}

.commentInput {
    width: 100%;
    height: 180px;
    margin: 15px 0px;
    border: 1px solid  rgba(204, 204, 204, 50);
    padding: 5px 15px;
}

.blogSubmitButton {
    width: 250px;
    height: 50px;
    background-color: rgb(100, 166, 4);
    margin-bottom: 100px;
    border: none;
    font-family: Raleway;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    text-align: center;
}

.blogSubmitButton:hover {
    background-color: rgba(100, 166, 4, 0.8);
    transition: all .3s; 
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

/* --- CONTACT PAGE --- */

.contactHeader {
    height: 90vh;
    background-image: url(../assets/contact-1.jpeg);
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    position: relative;
    margin: 0 auto;
}

.contactPageForm {
    width: 40%;
    margin-left: 150px;
    margin-top: -30px;
    font-family: Lora;
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    float: left;
}

.contactPageForm h2 {
    color: rgb(51, 51, 51);
    text-align: left;
    margin-top: 90px;
}

.contactPageForm form input {
    margin-bottom: 30px;
}

.contactPageForm textarea {
    margin-bottom: 5px;
}

.contactPageFormName, .contactPageFormEmail, .contactPageFormSubject, .contactPageFormCommentInput {
    border: 1px solid rgb(246, 246, 246);
    background-color: rgb(246, 246, 246);
}

.contactPageFormName, .contactPageFormEmail {
    width: 48%;
    margin-bottom: 0px;
}

.contactPageFormName, .contactPageFormEmail, .contactPageFormSubject {
    padding: 5px 15px;
}

.contactPageFormSubject, .contactPageFormCommentInput {
    width: 100%;
}

.contactPageFormName {
    margin-right: 10px;
}

.contactPageFormCommentInput {
    padding: 5px 15px;
} 

.contactSubmitMessage {
    border: none;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: Raleway;
    color:  #64a604;
    font-size: 14px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    text-transform: uppercase;
}

.contactSubmitMessage:hover {
    color: rgb(37, 37, 37);
    transition: all .3s; 
}

/* --- CONTACT DETAILS --- */

.contactAside {
    background-color: rgb(246, 246, 246);
    width: 40%;
    height: 600px;
    padding: 20px;
    float: left;
    margin-left: 100px;
}

.contactAside section {
    margin-top: 40px;
}

.contactAside h2 {
    text-align: left;
}

.contactAside h3 {
    text-align: left;
}

.contactAside p {
    font-size: 13px;
    text-align: left;
    color: rgb(102, 102, 102);
    font-size: 14px;
}

.workingHours p, .workingHours b {
    line-height: 10px;
}

.contactDetails {
    clear: both;
}

/* --- FOOTER --- */

footer h2 {
    color: rgb(100, 166, 4);
    text-align: left;
    text-transform: uppercase;
}

footer p {
    color: rgb(153, 153, 153);
    text-align: left;
}

footer h3 {
    color: rgb(255, 255, 255);
    text-align: left;
}

/* --- MAIN FOOTER --- */

.mainFooter {
    background-color: rgb(46, 46, 46);
    padding: 20px 0px;
    clear: both;
}

.mainFooter div.container {
    width: 85%;
    margin: 0 auto;
}

.mainFooter ul {
    padding: 0;
}

.mainFooter li {
    list-style: none;
}

.mainFooter h2 {
    text-transform: uppercase;
}

.footerSection {
    float: left;
    margin: 0px 30px;
    width: calc((100% / 3) - (30px * 2));
}

.mainFooterPosts a {
    text-decoration: none;
    color: rgb(153, 153, 153);
    line-height: 44px;
    text-align: left;
}

.mainFooterPosts a:hover: {
    color: rgb(255, 255, 255);
    transition: all .5s; 
}

.mainFooterPosts a:hover {
    color: rgb(255, 255, 255);
     transition: all .5s; 
}

.formEmail input {
    height: 35px;
    width: 100px%;
    background-color: rgb(102, 102, 102);
    border: none;
    padding: 0px 5px;
    font-family: Lora;
    color: rgb(153, 153, 153);
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
}

.formEmail button {
    background-color: rgb(100, 166, 4);
    border: none;
    height: 35px;
    width: 40px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-left: -5px;
}

.footerBorder {
    width: 250px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}

.socialIcons .footerBorder {
    margin-top: 20px;
}

.socialIcons a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: left;
    padding: 5px;
}

.socialIcons a:hover {
    color: rgb(153, 153, 153);
}

/* --- SECOND FOOTER --- */

.secondFooter {
    clear: both;
    background-color: rgb(37, 37, 37);
    padding: 1px;
}

.secondFooterInfo {
    margin-left: 120px;
}

.secondFooter a {
    text-decoration: none;
    color: rgb(100, 166, 4);
}

